<!DOCTYPE html>
<html>
  <head>
    <title>ChatwithUs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "jquery.min.js", "popper.min.js", "bootstrap.min.js", "semantic.min.js", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div class="ui small inverted menu">
      <div class="ui container">
    <%= render 'layouts/navigation' %>
      </div>
    </div>
    <div class="ui container">
      <%= yield %>
    </div>
    <script>
  $(".ui.dropdown").dropdown();
</script>

  </body>
</html>
